fastapi==0.109.0
uvicorn==0.27.0
pydantic==2.6.1
pydantic-core==2.16.1
sqlalchemy==2.0.25
python-dotenv==1.0.1
python-jose==3.3.0
passlib==1.7.4
bcrypt==4.1.2
cryptography==42.0.1
razorpay==1.4.1
requests==2.31.0
python-multipart==0.0.6
typing-extensions==4.9.0
idna==3.7
certifi==2024.2.2
urllib3==2.1.0
